*.env

vector_db/
vector-db/

logs/

__pycache__/

.venv/

# Ignore all files in the knowledge_base directory except for .gitkeep
!knowledge-base/.gitkeep
knowledge-base/*


model_cache/

# Ignore finder files
.DS_Store
/.DS_Store

UV_SETUP.md

*.egg-info/
*.egg
